body {
    background-color: rgb(78, 119, 51);
}
h1 {
    text-align: center;
    padding: 50;
    padding-bottom: 80;
}
.pictures{
    width: 300px;
    margin: 0 auto;
    display: block;
}
a{
    text-align: center;
    padding-bottom: 80;
}