body {
    background-color: rgb(78, 119, 51);
}

h1 {
    text-align: center;
    padding-top: 30;
    padding-bottom: 40;
}

h2 {
    text-align: center;
    
}

.post-img {
    width: 300px;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    padding-bottom: 30;
}

.post{
    border: solid rgb(152, 240, 160);
    margin: 70px ;
}

.post-link{
    margin: 45vw;
}